* {
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
  color: rgb(32, 39, 39);
}

h2 {
  height: 1rem;
}

.container {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
  margin-top: 1.5rem;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  border: none;
  background-color: rgb(118, 145, 145);
  font-size: 2rem;
  color: rgb(182, 207, 207);
}

.msg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.msg {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 2rem;
  color: rgb(32, 39, 39);
}

.hidden {
  display: none;
}

#new-game {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 1vmin;
  border: none;
  background-color: rgb(118, 145, 145);
  color: rgb(32, 39, 39);
  margin-top: 20px;
}

.reset-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#reset {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 1vmin;
  border: none;
  background-color: rgb(118, 145, 145);
  color: rgb(32, 39, 39);
}
